@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap');

@layer components {
  .h2 {
    @apply text-foreground-darkest text-xs font-medium tracking-widest uppercase select-none;
  }
}

html {
    background-color: #1d1d26;
}

.textured, nav header p:hover, nav ul li:hover, img {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%2334343c' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

.json {
    display: block;
    padding: 0.5rem;
    overflow-x: scroll;
    border-radius: 5px;
}

.json-line { 
    color: #abb2bf; 
    white-space: pre-wrap; 
    word-break: break-all; 
}

.json-str { 
    color: #98c379; 
}

.json-num { 
    color: #e5c07b; 
}

.json-bool { 
    color: #56b6c2; 
}

.json-null {
     color: #c678dd; 
}

.json-prop { 
    color: #e06c75; 
}

.json-ln {
    display: inline-block;
    padding-right: 1rem;
    color: rgba(255,255,255,0.6);
    text-align: right;
    user-select: none;
}
